/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

:root {
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);

  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);

  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-image: url(./assets/images/background-desktop.png);
  font-family: "Inconsolata";
  color: #fff;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inconsolata-ExtraBold";
  src: url("./assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata-bold";
  src: url("./assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
}

h1 {
  font-family: "Inconsolata-ExtraBold";
  color: var(--Neutral-300);
}

p {
  font-family: "Inconsolata-bold";
  color: var(--Neutral-500);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 10. Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
}

/* 11. Remove default list styles */
ul {
  list-style: none;
}
